.main
  .main-item
    .main-item__content
      .main-item__content--form
        .itembox
          %h2.itembox__name
            product1
          .itembox__image
            %ul
              %li
                =image_src "free_1.jpg"
                %ul
                  %li
                    =img_src "free_1.jpg"
                  %li
                    =img_src "free_2.jpg"
                  %li
                    =img_src "free_3.jpg"
          .itembox__price
            %span
              ￥10000
            .itembox__price--detail
              %span
                (税込)
              %span
                送料込み
          .itembox__explaination
            グーグルの画像認識システムは、まだ「ゴリラ問題」を解決できていない。
            自分と友人の写真を「Google フォト」が「ゴリラ」とタグ付けしている。
          .itembox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    test
                    /= @items.user.nickname
                %tr
                  %th カテゴリー
                    %td
                      = link_to '#' do
                        レディース
                      /  =@items.category.name
                      %br
                      = link_to '#' do
                        トップス
                      /  =@items.category.parent.name
                      %br
                      = link_to '#' do
                        Tシャツ/カットソー(半袖/袖なし)
                      /  =@items.category.parent.parent.name
                %tr
                  %th ブランド
                  %td

                    /  = @items.brand
                %tr
                  %th 商品の状態
                  %td 
                    新品、未使用
                      /- if @items.status == 1
                        新品、未使用
                      /- elsif @items.status == 2
                        未使用に近い
                      /- elsif @items.status == 3
                        目立った傷や汚れなし
                      /- elsif @items.status == 4
                        やや傷や汚れあり
                      /- elsif @items.status == 5
                        傷や汚れあり
                      /- elsif @items.status == 6
                        全体的に状態が悪い
                %tr
                  %th 配送料の負担
                  %td 
                    送料込み(出品者負担)
                      /- if @items.delivery_charge_flag == 1
                        送料込み(出品者負担)
                      /- elsif @items.delivery_charge_flag == 2
                        着払い(購入者負担)
                %tr
                  %th 発送元の地域
                  %td
                    東京都
                      = link_to '#' do
                        /= @items.prefectures
                %tr
                  %th 発送日の目安
                  %td
                    1~2日で発送
                      /- if @items.delivery_date == 1
                        1~2日で発送
                      /- elsif @items.delivery_date == 2
                        2~3日で発送
                      /- elsif @items.delivery_date == 3
                        4~7日で発送
                %tr
                  %th 配送方法
                  %td
                    手渡し
                      /- if @items.delivery_method == 1
                        らくらくフリマ便
                      /- elsif @items.delivery_method == 2
                        普通郵便(定形、定形外)
                      /- elsif @items.delivery_method == 3
                        ゆうパケット
                      /- elsif @items.delivery_method == 4
                        ゆうゆうフリマ便
                      /- elsif @items.delivery_method == 5
                        レターパック
                      /- elsif @items.delivery_method == 6
                        梱包発送たのメル便
                      /- elsif @items.delivery_method == 7
                        手渡し
          .itembox__option
            %ul
              %li.like-btn
                = link_to '#' do
                %i.fa.fa-star
                  お気に入り 0
            %ul.optical
              %li.report-btn
                = link_to '#' do
                %i.fa.fa-flag
                  不適切な商品の通報
        .commentbox
          %ul.commentbox__contents
          %form{class: 'new__comment', action: '#',method:'post'}
            %text_area.comment__body
            %p.notice__message
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。 
              %br             
            %button.comment__btn
              %i.fa.fa-comment
                コメントする
      .main-item__content--links
        %li
          =link_to "#" do
            %i.fa.fa-angle-left
            %span
              前の商品
        %li
          =link_to "#" do
            %span
            %i.fa.fa-angle-right
      .main-item__content--related
        =link_to "#" do
          レディースをもっと見る
