.register-wrapper
  #registrations__header
    .member-header
      %h1.member-header__logo
        = link_to root_path do
          = image_tag "logo.png", class: "member-header__logo--image"
      .member-header__progress
        %li.member-header__progress--active
          %span 会員情報
          .member-header__progress--round-blue
        %li.member-header__progress--text
          %span お届け先情報入力
          .member-header__progress--round
        %li.member-header__progress--text
          %span 完了
          .member-header__progress--round
        .member-header__progress--border
  = form_for(resource, as: resource_name, url: registration_path(resource_name),builder:FormHelper::FormWithErrorMessageBuilder) do |f|
    -# 
      FormHelperをapp/helpers/form_helperに指定することでエラー内容を各要素のフォームのしたに出るように設定しました。

    -# 
      従来のdeviseのFormHelperを適用し画面上部にエラー内容を表示したい場合FormHelperのオプションを消去し= render "shared/_error_messages"を画面上部に書き込んでください
    #container
      #field__contents
        #field__contents--title
          %h2 会員情報入力
        #field__contents--form
          .field
            .field__label
              = f.label :nickname
              %span.field__label--require 必須
            .field__form
              = f.text_field :nickname,  autocomplete: "nickname", placeholder: "例）メルカリ君", required: true
          .field
            .field__label
              = f.label :email
              %span.field__label--require 必須
            .field__form
              = f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可", required: true
          .field__pw
            .field__label
              = f.label :password
              %span.field__label--require 必須
            .field__form
              = f.password_field :password, autocomplete: "password",placeholder: "7文字以上の半角英数字", required: true
            .field__form
              = f.password_field :password_confirmation, autocomplete: "password_confirmation", placeholder: "もう一度入力", required: true
            .pw__checkbox
              %input{ type: "checkbox", id: "checkpw" }
                パスワードを表示する
            .nav__password
              ※英字と数字の両方を含めて入力
          .nav
            .nav__title
              本人確認
            .nav__text
              安全・安心にご利用いただくために、お客さまの本人情報のご登録にご協力ください。他のお客さまに公開されることはありません。
          .field__name
            .field__label
              = f.label :fullname
              %span.field__label--require 必須
            .field__area
              .form__zone--left
                .field__form--name
                  = f.text_field :last_name, autocomplete: "last_name", placeholder: "例）山田", required: true
              .form__zone
                .field__form--name
                  = f.text_field :first_name, autocomplete: "first_name", placeholder: "例）太郎", required: true
          .field__name
            .field__label
              = f.label :fullname_kana
              %span.field__label--require 必須
            .field__area
              .form__zone--left
                .field__form--name
                  = f.text_field :last_name_kana, autocomplete: "last_name_kana", placeholder: "例）ヤマダ", required: true
              .form__zone
                .field__form--name
                  = f.text_field :first_name_kana, autocomplete: "first_name_kana", placeholder: "例）タロウ", required: true
          .field
            .field__label
              = f.label :birthday 
              %span.field__label--require 必須
            .field__birthday
              != sprintf(f.date_select(:birthday, prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:Time.now.year - 120, date_separator:'%s'),'年','月')
              .field__birthday--day
                日
              .nav__information.personal
                ※本人情報は正しく入力してください。会員登録後、修正いただく場合にはお時間を頂く場合があります。
              .nav__information 
                「次へ進む」のボタンを押すことにより、
                = link_to "#", class: "confirmation__link" do
                  利用規約
                .nav__information--center
                  に同意したものとみなします。      
          .actions
            = f.submit "次へ進む", class: "next__btn", id: "next__btn", data: {disable_with: "処理中..."}
          .nav__personal--information
            = link_to "#", class: "nav__personal--information--link" do
              本人情報の登録について＞
          .nav__privacy--information
            This site is protected by reCAPTCHA and the Google
            = link_to "#", class: "nav__privacy--information--link" do
              Privacy Policy
            and
            = link_to "#", class: "nav__privacy--information--link" do
              Terms of Service
            apply.
  = render "shared/form-footer"
