.wrapper 
  = render "shared/header"
  .mypage-wrapper
    = render "shared/mypage-side_bar"
    = render "notifications/notice-mypage"
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"