.brands
  %ul
    %li
      = link_to "#", class: "brands__search search__btn" do
        = image_tag "icon_brand.png", height: "15px", width: "15px", class:"icon__brand"
        ブランドから探す
      %ul.brand__parent
        %li
          = link_to "#", class: "brand__parent--name" do
            シャネル
        %li
          = link_to "#", class: "brand__parent--name" do
            ナイキ
        %li
          = link_to "#", class: "brand__parent--name" do
            ルイヴィトン
        %li
          = link_to "#", class: "brand__parent--name" do
            シュプリーム
        %li
          = link_to "#", class: "brand__parent--name" do
            アディダス
        %li
          = link_to "#", class: "brand__parent--name" do
            ブランド一覧