.footer
  .footer__menu
    = link_to "#", class: "footer__menu--btn footer__menu--right" do
      プライバシーポリシー
    = link_to "#", class: "footer__menu--btn" do
      フリマ利用規約
    = link_to "#", class: "footer__menu--btn footer__menu--left" do
      特定商取引に関する表記
  .footer__logo
    = link_to root_path, class: "footer__logo--btn" do
      = image_tag "logo-white.png", height: "58px",width: "250px"