.footer
  %ul.contents
    %li.guide
      %h2.guide-head FURIMAについて
      %ul 
      = link_to "#", class: "guide-head__link" do 
        会社概要（運営会社）
      %ul
      = link_to "#", class: "guide-head__link" do
        プライバシーポリシー
      %ul
      = link_to "#", class: "guide-head__link" do
        FURIMA利用規約
      %ul 
      = link_to "#", class: "guide-head__link" do
        ポイントに関する特約
      
    %li.guide
      %h2.guide-head FURIMAを見る
      %ul 
      = link_to "#", class: "guide-head__link" do
        カテゴリー一覧
      %ul 
      = link_to "#", class: "guide-head__link" do
        ブランド一覧
      
    %li.guide
      %h2.guide-head ヘルプ＆ガイド
      %ul 
      = link_to "#", class: "guide-head__link" do
        FURIMAガイド
      %ul 
      = link_to "#", class: "guide-head__link" do
        FURIMAロゴ利用ガイドライン
      %ul 
      = link_to "#", class: "guide-head__link" do 
        お知らせ
  
  .footer-logo
    = link_to "#" do
      = image_tag 'logo-white.png', class: "footer-image"   
  %p.copyright ©️FURIMA 