.footer
  .contents
    .guide
      %ul.guide-head FURIMAについて
      = link_to "#" do
        %li.guide-list 会社概要（運営会社）
      = link_to "#" do
        %li.guide-list プライバシーポリシー
      = link_to "#" do
        %li.guide-list FURIMA利用規約
      = link_to "#" do
        %li.guide-list ポイントに関する特約
      
    .guide
      %ul.guide-head FURIMAを見る
      = link_to "#" do
        %li.guide-list カテゴリー一覧
      = link_to "#" do
        %li.guide-list ブランド一覧
      
    .guide
      %ul.guide-head ヘルプ＆ガイド
      = link_to "#" do
        %li.guide-list FURIMAガイド
      = link_to "#" do
        %li.guide-list FURIMAロゴ利用ガイドライン
      = link_to "#" do
        %li.guide-list お知らせ
  
  .footer-logo
    = link_to "#" do
      = image_tag 'logo-white.png', class: "footer-image"   
  %p.copyright ©️FURIMA 
      