.main  
  .main__upper         
    .main__upper__leading  
      .main__upper__leading__contents
        .main__upper__leading__contents__main
          人生を変えるフリマアプリ
        .main__upper__leading__contents__sub
          FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
        .main__upper__leading__contents__btn
          .main__upper__leading__contents__btn__left
            = link_to "#", class: "app__google--link" do
              = image_tag "app-store.svg", width: "180px", height: "53px"
          .main__upper__leading__contents__btn__right
            = link_to "#", class: "app__google--link" do
              = image_tag "google-play.svg", width: "180px", height: "53px"
    .main__upper__reasons
      .main__upper__reasons__contents
        .main__upper__reasons__contents__title
          フリマが選ばれる3つの理由
          .main__upper__reasons__contents__title__bar
        .main__upper__reasons__contents__boxes
          .main__upper__reasons__contents__boxes__box
            .main__upper__reasons__contents__boxes__box__image
              %p.main__upper__reasons__contents__boxes__box__image__number 1
              = image_tag "pict-reason-01.jpg", class:"main__upper__reasons__contents__boxes__box__image__pic"
            .main__upper__reasons__contents__boxes__box__title
              %span.main__upper__reasons__contents__boxes__box__title__color>10分 
              ですぐ出品
            .main__upper__reasons__contents__boxes__box__text
              スマホで入力するだけで簡単に出品できる

          .main__upper__reasons__contents__boxes__box
            .main__upper__reasons__contents__boxes__box__image
              %p.main__upper__reasons__contents__boxes__box__image__number 2
              = image_tag "pict-reason-02.jpg", class:"main__upper__reasons__contents__boxes__box__image__pic"
            .main__upper__reasons__contents__boxes__box__title
              %span.main__upper__reasons__contents__boxes__box__title__color シンプル
              で使いやすい
            .main__upper__reasons__contents__boxes__box__text
              めんどくさい入力は必要なく、検索も購入もスムーズ！

          .main__upper__reasons__contents__boxes__box
            .main__upper__reasons__contents__boxes__box__image
              %p.main__upper__reasons__contents__boxes__box__image__number 3
              = image_tag "pict-reason-03.jpg", class:"main__upper__reasons__contents__boxes__box__image__pic"
            .main__upper__reasons__contents__boxes__box__title
              手数料
              %span.main__upper__reasons__contents__boxes__box__title__color 業界最安
            .main__upper__reasons__contents__boxes__box__text
              最大20％でお得に出品&購入！


    .main__upper__membership
      .main__upper__membership__contents
        .main__upper__membership__contents__title
          会員数世界NO.1
        .main__upper__membership__contents__text
          FURIMAは、フリマアプリで最も人気。出品・購入回数も業界最多です！ほしかったあの商品に出会えるかもしれません。
        .main__upper__membership__contents__btn
          .main__upper__membership__contents__btn__left  
            = link_to "#", class: "app__google--link" do          
              = image_tag "app-store.svg", width: "180px", height: "53px"
          .main__upper__membership__contents__btn__right
            = link_to "#", class: "app__google--link" do
              = image_tag "google-play.svg", width: "180px", height: "53px"