.wrapper
  = render "tops/index/top-header"
  = render "tops/index/upper-main"
  = render "tops/index/lower-main"
  = render "tops/index/top-footer"
  .buy
    .buy__btn 
      %p.buy__btn__text 出品する
      = image_tag "icon_camera.png", class: ".buy_btn_pic", width: "54px", height: "54px"
