.new__wrapper.max__height__wrapper
  = render "shared/form-header"
  .main__new
    %h3.main__new--title
      新規会員登録
    .main__new--contents
      %ul
        %li
          = link_to new_user_registration_path, class: "main__new--contents--btn btn__red" do
            %i.far.fa-envelope.fa-lg
            メールアドレスで登録
        %li
          = link_to "#", class: "main__new--contents--btn facebook__btn" do
            %i.fab.fa-facebook.fa-lg
            Facebookで登録する
        %li
          = link_to "#", class: "main__new--contents--btn google__btn" do
            %i.fab.fa-google.fa-lg
            Googleで登録する
  = render "shared/form-footer"