.content
  = mypage_background_image_present?(current_user.account)
  .mypage-user-icon
    = mypage_icon_image_present?(current_user.account)
    .mypage-user-icon-name
      = current_user.nickname
    .mypage-user-icon-nav
      %p
        評価
        = current_user.evaluations.count
      %p
        出品数
        = Item.where(saler_id: current_user.id).including.count

  .mypage-tab-container-notification-todo
    .mypage-tabs
      .mypage-tabs-left
        = link_to "#", class:"news-message" do
          %input{type: "button", value: "お知らせ"}
          %ul
            %li
            
              
          
      .mypage-tabs-right
        = link_to "#", class:"news-message" do
          %input{type: "button", value: "やることリスト"}
          %ul
            %li


    .mypage-left
      .mypage-tabs-contents
        .mypage-tabs-left-contents
          .mypage-tabs-left-contents-messages.show
            .mypage-tabs-left-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-left-contents-messages-show
              .new-message 
                aaa
              .message-time
                sss
            %i.fas.fa-chevron-right.fa-lg

      .mypage-tabs-contents
        .mypage-tabs-left-contents
          .mypage-tabs-left-contents-messages.show
            .mypage-tabs-left-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-left-contents-messages-show
              .new-message 
                aaa
              .message-time
                sss
            %i.fas.fa-chevron-right.fa-lg

      .mypage-tabs-contents
        .mypage-tabs-left-contents
          .mypage-tabs-left-contents-messages.show
            .mypage-tabs-left-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-left-contents-messages-show
              .new-message 
                aaa
              .message-time
                sss
            %i.fas.fa-chevron-right.fa-lg

      .mypage-tabs-contents
        .mypage-tabs-left-contents
          .mypage-tabs-left-contents-messages.show
            .mypage-tabs-left-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-left-contents-messages-show
              .new-message 
                aaa
              .message-time
                sss
            %i.fas.fa-chevron-right.fa-lg

      .mypage-tabs-contents
        .mypage-tabs-left-contents
          .mypage-tabs-left-contents-messages.show
            .mypage-tabs-left-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-left-contents-messages-show
              .new-message 
                aaa
              .message-time
                sss
            %i.fas.fa-chevron-right.fa-lg



    .mypage-right
      .mypage-tabs-contents
        .mypage-tabs-right-contents
          .mypage-tabs-right-contents-messages.show
            .mypage-tabs-right-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-right-contents-messages-show
              .new-message 
                bbb
              .message-time
                kkk
            %i.fas.fa-chevron-right.fa-lg

      .mypage-tabs-contents
        .mypage-tabs-right-contents
          .mypage-tabs-right-contents-messages.show
            .mypage-tabs-right-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-right-contents-messages-show
              .new-message 
                bbb
              .message-time
                kkk
            %i.fas.fa-chevron-right.fa-lg
      
      .mypage-tabs-contents
        .mypage-tabs-right-contents
          .mypage-tabs-right-contents-messages.show
            .mypage-tabs-right-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-right-contents-messages-show
              .new-message 
                bbb
              .message-time
                kkk
            %i.fas.fa-chevron-right.fa-lg
      
      .mypage-tabs-contents
        .mypage-tabs-right-contents
          .mypage-tabs-right-contents-messages.show
            .mypage-tabs-right-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-right-contents-messages-show
              .new-message 
                bbb
              .message-time
                kkk
            %i.fas.fa-chevron-right.fa-lg

      .mypage-tabs-contents
        .mypage-tabs-right-contents
          .mypage-tabs-right-contents-messages.show
            .mypage-tabs-right-contents-messages-icon
              = image_tag "risu.jpg", height:"50px", width: "50px"
            .mypage-tabs-right-contents-messages-show
              .new-message 
                bbb
              .message-time
                kkk
            %i.fas.fa-chevron-right.fa-lg

      .tab-content
        = link_to "#", class: "show-message-list" do
          一覧を見る