.wrapper 
  = render "shared/header"
  .mypage-wrapper
    = render "shared/mypage-side_bar"
    .mp-content
      .likes__title
        購入した商品-取引中一覧
      - if @items.present?
        = render "shared/mypage-items-trading"
      - else
        .user__liked__not__items
          %i.fas.fa-box.fa-6x
          %p 購入した商品-取引中はありません
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"