.wrapper 
  = render "shared/header"
  .mypage-wrapper
    = render "shared/mypage-side_bar"
    .mp-content
      .likes__title
        出品した商品-出品中一覧
      - if @items.present?
        = render "shared/mypage-items-show"
      - else
        .user__liked__not__items
          %i.fas.fa-box.fa-6x
          %p 出品時た商品-出品中はありません
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"