.wrapper 
  = render "shared/header"
  .mypage-wrapper
    = render "shared/mypage-side_bar"
    = render "mypage-content"
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"

