.header
  .header__block
    .header__block__inner
      .header__block__inner__icon
        = link_to root_path do
          = image_tag "logo.png", class:"furima-logo", width: "140px", height: "40px"
      = search_form_for(@q, url: search_items_path, class: 'header__block__inner__form') do |f|
        .header__block__inner__form__box
          = f.text_field :name_or_explanation_cont, class: "header__block__inner__form__box__input", placeholder:"キーワードから探す"
          = button_tag type: 'submit', class: "header__block__inner__form__box__btn" do
            %i.fas.fa-search
  .header__bottom
    .header__left--content
      = render "shared/category"                       
      = render "shared/brand"
    .header__right--content
      - if user_signed_in?
        = render 'shared/header-nav_signed-in'
      - else
        = link_to "新規会員登録",new_top_path, class: "right__btn signup__btn" 
        = link_to "ログイン",new_user_session_path, class: "right__btn login__btn" 
      