
%ul.contents-mypage
  %li
    = link_to user_path(current_user.id), class:"contents-mypage-link" do
      マイページ
      %i.fas.fa-chevron-right
  %li 
    = link_to "#", class:"contents-mypage-link" do
      お知らせ
      %i.fas.fa-chevron-right
  %li
    = link_to "#", class:"contents-mypage-link" do
      やることリスト
      %i.fas.fa-chevron-right
  %li 
    = link_to user_likes_path(current_user), class:"contents-mypage-link" do
      お気に入り！一覧
      %i.fas.fa-chevron-right
  %li 
    = link_to new_item_path, class:"contents-mypage-link" do
      出品する
      %i.fas.fa-chevron-right
  %li 
    = link_to draft_users_path, class:"contents-mypage-link" do
      下書き一覧
      %i.fas.fa-chevron-right
  %li 
    = link_to exhibition_users_path, class:"contents-mypage-link" do
      出品した商品-出品中
      %i.fas.fa-chevron-right
  %li 
    = link_to exhibition_trading_users_path, class:"contents-mypage-link" do
      出品した商品-取引中
      %i.fas.fa-chevron-right
  %li 
    = link_to exhibition_completed_users_path, class:"contents-mypage-link" do
      出品した商品-売却済み
      %i.fas.fa-chevron-right
  %li 
    = link_to bought_users_path, class:"contents-mypage-link" do
      購入した商品-取引中
      %i.fas.fa-chevron-right
  %li 
    = link_to bought_completed_users_path, class:"contents-mypage-link" do
      購入した商品-過去の取引
      %i.fas.fa-chevron-right
  %li
    = link_to "#", class:"contents-mypage-link" do
      ニュース一覧
      %i.fas.fa-chevron-right
  %li 
    = link_to "#", class:"contents-mypage-link" do
      評価一覧
      %i.fas.fa-chevron-right
  %li 
    = link_to "#", class:"contents-mypage-link" do
      ガイド
      %i.fas.fa-chevron-right
  %li
    = link_to "#", class:"contents-mypage-link" do
      お問い合わせ
      %i.fas.fa-chevron-right

  %h4 メルペイ
  %li 
    = link_to "#", class:"contents-mypage-link" do
      売上・振込申請
      %i.fas.fa-chevron-right
  %li
    = link_to "#", class:"contents-mypage-link" do
      ポイント
      %i.fas.fa-chevron-right
      
  %h4 設定
  %li
    = link_to edit_account_path(current_user), class:"contents-mypage-link" do
      プロフィール
      %i.fas.fa-chevron-right
  %li
    = link_to edit_address_path(current_user), class:"contents-mypage-link" do
      発送元・お届け先住所変更
      %i.fas.fa-chevron-right
  %li
    = link_to new_card_path, class:"contents-mypage-link" do
      支払い方法
      %i.fas.fa-chevron-right
  %li 
    = link_to edit_user_registration_path, class:"contents-mypage-link" do
      メール/パスワード
      %i.fas.fa-chevron-right
  %li
    = link_to users_path, class:"contents-mypage-link" do
      本人情報
      %i.fas.fa-chevron-right
  %li 
    = link_to address_path(current_user), class:"contents-mypage-link" do
      送付先情報
      %i.fas.fa-chevron-right
  %li
    = link_to destroy_user_session_path,method: :delete, class:"contents-mypage-link", data:  { confirm: 'ログアウトしてよろしいですか?',cancel: 'やめる',commit: 'ログアウトする'}, title: 'ログアウト確認' do
      ログアウト
      %i.fas.fa-chevron-right