%section.feature
  .title FURIMAの特徴
  .features
    .feature
      .feature-box
        = image_tag 'icon-01.png', class: 'feature-box__icon'
        .feature-box__head 簡単に売り買いできる
        .feature-box__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

    .feature
      .feature-box
        = image_tag 'icon-03.png', class: 'feature-box__icon'
        .feature-box__head 売上金は即日振込みに対応
        .feature-box__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！

    .feature
      .feature-box
        = image_tag 'icon-04.png', class: 'feature-box__icon'
        .feature-box__head 様々な支払いに対応
        .feature-box__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

%section.pickup
  %h2.pickup-title ピックアップカテゴリー
  .pickup-box
    = link_to '#', class: "category" do
      %h3.title 新規投稿商品
      
    .item-lists

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
          
      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product3
          .details
            %ul
              %li 30,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
      
      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
          
      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product3
          .details
            %ul
              %li 30,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)

%section.pickup
  %h2.pickup-title ピックアップブランド
  .pickup-box
    = link_to '#', class: "category" do
      %h3.title アーカイバ
    .item-lists

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
          
      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product3
          .details
            %ul
              %li 30,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
      
      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
          
      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product3
          .details
            %ul
              %li 30,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-01.jpg', class: 'item-img'
        .item-list__body
          %h3.name product1
          .details
            %ul
              %li 10,000円
              %li#like 0
            %p.detail (税込)

      .item-list.hover
        = link_to '#',class: "item" do
          = image_tag 'pict-reason-02.jpg', class: 'item-img'
        .item-list__body
          %h3.name product2
          .details
            %ul
              %li 20,000円
              %li#like 0
            %p.detail (税込)
      

%section.app-banner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to '#', class: "footer-banner" do
        = image_tag 'app-store.svg', alt: 'app-store', class: 'link-app'
      = link_to '#', class: "footer-banner" do
        = image_tag 'google-play.svg', alt: 'google-play', class: 'link-google'