
.wrapper 
  = render "shared/header"
  - trading_item_users(@item)
  - trading_item_fee(@item)
  .show-contents
    = render "side-box"
    = render "main-box"
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"