.new__wrapper
  = render "shared/form-header"
  .session__login
    .session__login--new
      .session__login--new--link
        %p
          アカウントをお持ちでない方はこちら
        = link_to "新規会員登録",new_top_path, class: "new__user--btn"
    .facebook__google--login
      = link_to "#", class: "facebook__google--login--btn facebook__btn" do
        %i.fab.fa-facebook.fa-lg
        Facebookで登録する
      = link_to "#", class: "facebook__google--login--btn google__btn" do
        %i.fab.fa-google.fa-lg
        Googleで登録する
    .login__form
      = form_for( resource, url: user_session_path) do |f|
        .login__form__error
          = flash[:alert]
        .field
          .field__form
            = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:'field__form--input'}
        .field
          .field__form
            = f.password_field :password, {placeholder: "パスワード",class:'field__form--input'}
        .field
          .field__recaptha
            = flash[:recaptcha_error]
            = recaptcha_tags
        .field
          = f.submit "ログイン", class: "login__next__btn"
        .field.field__forgot__password__block
          = link_to new_user_password_path, class: "field__password--forgot" do
            パスワードをお忘れの方
  = render "shared/form-footer"
