.wrapper 
  = render "shared/header"
  .show-contents
    = render "shared/show-contents"
    .content
      .likes__title
        発送元・お届け先住所変更
      .content__edit__user
        = render partial: 'form', locals: {address: @address}
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"