%h2.pickup-title PICK UP
.pickup-box
  .category__title 
    = "#{@radies.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 1..195).present?
      -@items.where(category_id: 1..195).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。
.pickup-box
  .category__title 
    = "#{@mens.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 196..326).present?
      -@items.where(category_id: 196..326).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@kids.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 327..460).present?
      -@items.where(category_id: 327..460).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@interiors.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 461..600).present?
      -@items.where(category_id: 461..600).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@entertainments.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 601..660).present?
      -@items.where(category_id: 601..660).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@toys.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 661..773).present?
      -@items.where(category_id: 661..773).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@cosmetics.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 774..873).present?
      -@items.where(category_id: 774..873).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@electricals.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 874..959).present?
      -@items.where(category_id: 874..959).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@sports.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 960..1068).present?
      -@items.where(category_id: 960..1068).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@handmades.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 1069..1122).present?
      -@items.where(category_id: 1069..1122).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@tickets.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 1123..1182).present?
      -@items.where(category_id: 1123..1182).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@vehicles.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 1183..1245).present?
      -@items.where(category_id: 1183..1245).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
          .item-list__body
            %h3.name 
              = item.name
            .details
              %ul
                %li 
                  = "#{item.price}円"
                %li#like 0
              %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。

.pickup-box
  .category__title 
    = "#{@others.name}新着アイテム"
  .item-lists
    -if @items.where(category_id: 1246..1314).present?
      -@items.where(category_id: 1246..1314).each do |item|
        .item-list.hover
          = link_to '#',class: "item" do
            = image_tag "#{item.images[0].image.url}", class: 'item-img'
            -if item.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
        .item-list__body
          %h3.name 
            = item.name
          .details
            %ul
              %li 
                = "#{item.price}円"
              %li#like 0
            %p.detail (税込)
    -else 
      .item-list__nothing 該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。
