%div{ class: "wrapper", data: {modal: "fixed"}}
  = render "shared/header"
  .main
    .main-item
      .main-item__content
        .main-item__content--form
          .itembox
            %h2.itembox__name
              = @item.name.truncate(30, omission: '...')
            .itembox__image-container
              %ul.itembox__image-container__slider#slider_images
                - @item.images.each_with_index do |image, i|
                  %li.itembox__image-container__slider__box.slider_image
                    = image_tag image.image.url
              - if @item.buyer_id.present?
                .sold-item
                  .sold-item__inner
                    SOLD
              %ul.itembox__image-container__thumb#thumb_images
                - if @item.images.count > 1
                  - @item.images.each_with_index do |image, i|
                    %li.itembox__image-container__thumb__box.thumb_image
                      = image_tag image.image.url
            .itembox__price
              %span= "¥#{@item.price.to_s(:delimited)}"
              .itembox__price--detail
                %span (税込)
                %span= delivery_charge(@item)
            .itembox__detail
              - if @item.buyer_id.present?
                .itembox__detail--sold
                  .itembox__detail--sold--btn
                    %p 売り切れました
              - elsif user_signed_in? && @item.saler_id != current_user.id
                .itembox__detail--buy
                  %button.itembox__detail--buy--btn
                    = link_to "購入画面に進む",check_card_path(@item.id) 
              - elsif user_signed_in? && @item.saler_id = current_user.id
                .itembox__detail--edit
                  %button.itembox__detail--edit--btn
                    = link_to "商品の編集" ,edit_item_path
                .itembox__detail--or or
                .itembox__detail--delete
                  %button.itembox__detail--delete--btn
                    = link_to "この出品を削除する", item_path(@item.id), method: :delete, data: { confirm: '本当に削除して良いですか?',cancel: 'やめる',commit: '削除する',disable_with: "処理中..."}, title: '削除確認'
            .itembox__explanation
              = @item.explanation
            .itembox__table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      %span= @user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to category_path(@item.category.root_id), class: "itembox__table__link" do
                        %span= @item.category.root.name
                      %br
                      = link_to category_path(@item.category.parent_id), class: "itembox__table__link" do
                        %i.fas.fa-chevron-right
                        %span= @item.category.parent.name
                      %br
                      = link_to category_path(@item.category), class: "itembox__table__link" do
                        %i.fas.fa-chevron-right
                        %span= @item.category.name
                  %tr
                    %th 商品の状態
                    %td 
                      %span= @item.status.name
                  %tr
                    %th 配送料の負担
                    %td 
                      %span= delivery_charge_full(@item)
                  %tr
                    %th 発送元の地域
                    %td
                      %span= @item.prefecture.name
                  %tr
                    %th 発送日の目安
                    %td
                      %span= @item.delivery_date.name
                  %tr
                    %th 配送方法
                    %td
                      %span= @item.delivery_method.name
            .itembox__option
              = render partial: 'likes/like', locals: { item: @item}
        .main-item__content--related
          = link_to  category_path(@item.category.root_id) do
            = @item.category.root.name
            %span をもっと見る
      %div{ id: "item-modal__content", data: { modal: "content"}}
        .item-modal__times
          %i.fas.fa-times.fa-lg.js_modal_close
        %ul.item-modal__slider#slider_images_modal
          - @item.images.each_with_index do |image, i|
            %li.item-modal__slider__box.slider_image
              = image_tag image.image.url
      %div{ id: "item-modal__overlay", data: { modal: "overlay"}}
  = render "shared/footer-image"
  = render "shared/footer"