.wrapper
  = render "shared/header"
  .main
    .main-item
      .main-item__content
        .main-item__content--form
          .itembox
            %h2.itembox__name
              = @item.name.truncate(30, omission: '...')
            .itembox__image
              %ul
                %li
                  = image_tag @item.images[0].image.url
                    - if @item.buyer_id.present?
                    .sold-item
                      .sold-item__inner
                        SOLD
                  .mini-image
                    - @item.images.each_with_index do |image, i|
                      - unless i == 0
                        .mini-images
                          =image_tag image.image.url
            .itembox__price
              %span
                ¥
                = @item.price.to_s(:delimited)
              .itembox__price--detail
                %span
                  (税込)
                %span
                  送料込み
            .itembox__detail
              - if @item.buyer_id.present?
                .itembox__detail--sold
                  .itembox__detail--sold--btn
                    %p 売り切れました
              - elsif user_signed_in? && @item.saler_id != current_user.id
                .itembox__detail--buy
                  %button.itembox__detail--buy--btn
                    = link_to "購入画面に進む",check_card_path(@item.id) 
              - elsif user_signed_in? && @item.saler_id = current_user.id
                .itembox__detail--edit
                  %button.itembox__detail--edit--btn
                    = link_to "商品の編集" ,edit_item_path
                .itembox__detail--or or
                .itembox__detail--delete
                  %button.itembox__detail--delete--btn
                    = link_to "この出品を削除する", item_path(@item.id), method: :delete, data: { confirm: '本当に削除して良いですか?',cancel: 'やめる',commit: '削除する'}, title: '削除確認'
            .itembox__explanation
              = @item.explanation
            .itembox__table
              %table
                %tbody
                  %tr
                    %th 出品者
                    %td
                      = @user.nickname
                  %tr
                    %th カテゴリー
                    %td
                      = link_to category_path(@item.category.root_id) do
                        =@item.category.root.name
                      %br
                      = link_to category_path(@item.category.parent_id) do
                        =@item.category.parent.name
                      %br
                      = link_to category_path(@item.category) do
                        =@item.category.name
                  %tr
                    %th ブランド
                    %td
                      -# = @caregory_brand
                  %tr
                    %th 商品の状態
                    %td 
                      = @item.status.name
                  %tr
                    %th 配送料の負担
                    %td 
                      - if @item.delivery_charge_flag = 1
                        送料込み(出品者負担)
                      - elsif @item.delivery_charge_flag = 2
                        着払い(購入者負担)
                  %tr
                    %th 発送元の地域
                    %td
                      = link_to '#' do
                        = @item.prefecture.name
                  %tr
                    %th 発送日の目安
                    %td
                      = @item.delivery_date.name
                  %tr
                    %th 配送方法
                    %td
                      = @item.delivery_method.name
            .itembox__option
              = render partial: 'likes/like', locals: { item: @item}
              %ul.optical
                %li.report-btn
                  = link_to '#' do
                    %i.fa.fa-flag
                    不適切な商品の通報
          .commentbox
            %ul.commentbox__contents
            %form{class: 'new__comment', action: '#',method:'post', id:'new__comment'}
              %input{type: 'hidden', value: '✓'}
              %textarea.comment__body
              %p.notice__message
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。 
                %br             
              %button.comment__btn
                %i.fa.fa-comment
                  コメントする
        .main-item__content--links
          %li
            = link_to "前の商品", item_path(@item.id - 1)
            %i.fa.fa-angle-left
          %li
            = link_to "後ろの商品",item_path(@item.id + 1)
            %i.fa.fa-angle-right
        .main-item__content--related
          =link_to  category_path(@item.category.root_id) do
            = @item.category.root.name
            をもっと見る
  = render "shared/footer-image"
  = render "shared/footer"