.wrapper
  = render "shared/header"
  = render "categories/category_header"
  %section.pickup
    .pickup-box
      = render "category_children"
      .item-lists
        - if @items.present?
          - @items.each do |item|
            .item-list.hover
              = link_to item_path(item),class: "item" do
                = image_tag "#{item.images[0].image.url}", class: 'item-img'
                -if item.buyer_id.present? 
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD
              .item-list__body
                %h3.name 
                  = item.name
                .details
                  %ul
                    %li 
                      = item.price.to_s(:delimited)
                    %li#like
                      = item.likes.count
                  %p.detail (税込)
          = paginate @items
        -else 
          .item-list__nothing 
            該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"