= form_with model: @account, id: "account__form", local: true do |f|
  .account__field
    = f.label :background_image do
      - if @account.background_image.present?
        = image_tag "#{@account.background_image.url}", class: "account__image__form__background", height: "200px", width: "100%"
      - else
        = image_tag "user-background.jpg", class: "account__image__form__background", height: "200px", width: "100%"
      = f.file_field :background_image, class: 'hidden__file'
    .account__field__inner
      = f.label :icon_image, class: 'account__image__form' do
        - if @account.icon_image.present?
          = image_tag "#{@account.icon_image.url}", class: "account__image__form__icon",  height: "70px", width: "70px" 
        - else
          = image_tag "member_photo_noimage.png", class: "account__image__form__icon",  height: "70px", width: "70px" 
        = f.file_field :icon_image, class: 'hidden__file'
  .account__text__field
    = f.text_area :introduction, placeholder: "例）こんにちは！ご覧いただきありがとうございます！かっこいいものや便利な小道具を中心に出品しています。服のサイズはほとんどがMサイズです！気持ちよくお取引できるように心がけていますので、商品や配送方法などご質問ありましたらお気軽にどうぞ！"
  - if @account.persisted?
    .account__submit__field
      = f.submit "プロフィールを編集する", class: "account__submit__field__btn"
    .account__submit__field
      = link_to "プロフィールを削除する", account_path(current_user), method: :delete, class: "account__submit__field__btn account__delete__btn", data:  { confirm: 'プロフィールを削除してよろしいですか?',cancel: 'やめる',commit: '削除する'}, title: '削除確認'
  - else
    .account__submit__field
      = f.submit "プロフィールを登録する", class: "account__submit__field__btn"
    