.wrapper 
  = render "shared/header"
  .show-contents
    = render "shared/show-contents"
    .content
      .likes__title
        = "#{current_user.nickname}さんのプロフィール"
      = form_with url: accounts_path, method: :post, id: "account__form", local: true do |f|
        .account__field
          = f.label :background_image do
            = image_tag "user-background.jpg", class: "account__image__form__background", height: "200px", width: "100%" 
            = f.file_field :background_image, class: 'hidden__file'
          .account__field__inner
            = f.label :icon_image, class: 'account__image__form' do
              = image_tag "member_photo_noimage.png", class: "account__image__form__icon",  height: "70px", width: "70px" 
              = f.file_field :icon_image, class: 'hidden__file'
        .account__text__field
          = f.label :introduction do
            = f.text_area :introduction, placeholder: "例）こんにちは！ご覧いただきありがとうございます！かっこいいものや便利な小道具を中心に出品しています。服のサイズはほとんどがにMサイズです！気持ちよくお取引できるように心がけていますので、商品や配送方法などご質問ありましたらお気軽にどうぞ！"
        .account__submit__field
          = f.submit "プロフィールを登録する", class: "account__submit__field__btn"
  = render "shared/footer-image"
  = render "shared/footer"
  = render "shared/saler-btn"